* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar Section */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 30px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 22px;
}

ul li {
  text-align: center;
  color: #575757;
  font-size: 17px;
  font-family: "Arimo", sans-serif;
}

.btn button {
  background-color: #1D4ED8;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 35px;
  border: none;
  border-radius: 10px;
}

/* Hero Section */

#hero {
  background-image:
    linear-gradient(to right, rgb(0, 0, 0, 9), rgb(0, 0, 0, 0.1)),
    url('./images/banner.jpg');
  height: 100vh;
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.5rem;
}

.hero-content {
  color: #FFFFFF;
  text-align: center;
  display: grid;
  gap: 2rem 0;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.6rem;
}

.hero-btn {
  text-align: center;

}

.hero-btn button {
  font-size: 1.2rem;
  padding: 1.15rem 3.4rem;
  margin-top: 20%;
}